$margin: 5px;
:host{
    display: block;
    padding-top: $margin;
    position: relative;
}
input {
    width: 100%;
    padding: 10px;
    color: var(--secondary-color);
    border: 1.5px solid var(--secondary-color);
    border-radius: 4px;
    min-width: 100px;
    margin-top: $margin;
    outline: none;
    &:focus{
        border-color: var(--primary-color);
        & + label{
            color: var(--primary-color);
        }
    }
}

label {
    font-size: 0.8rem;
    position: absolute;
    padding: 0 3px;
    background: white;
    top: 0;
    left: 10px;
}