:host{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.wrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.evento {
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    &:hover{
        background: var(--component-active-bg-focus)
    }
    .tipo {
        width: 45px;
        font-size: 1.2rem;
        &.mamar{
            color: var(--pink);
        }
        &.dormir{
            color: var(--orange)
        }
        &.fralda{
            color: var(--cyan)
        }
    }
}
.loading {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: calc(var(--overlay-z-index) + 1);
}