<ng-container *ngIf="loading">
    <app-infinite-loading class="loading"></app-infinite-loading>
   

    <div class="loading-overlay"></div>
</ng-container>

<ng-container *ngIf="!loading">
    <ng-container *ngIf="last && !ultimoCompleto">
        <table>
            <tr><td><b>Último evento:</b></td><td>{{last.tipo}}</td></tr>
            <tr><td><b>Início:</b></td><td>{{inicio}}</td></tr>
            <tr><td><b>Duração:</b></td><td>{{duracao$ | async}}</td></tr>
        </table>
    <!-- <div>
            <b>Último evento:</b> {{last.tipo}}
        </div>
        <div><b>Início:</b> {{inicio}}</div>
        <div><b>Duração:</b> {{duracao$ | async}}</div>  -->
    </ng-container>

    <div class="actions mt-4">
        <button class="btn btn-outline-primary" *ngIf="last && !ultimoCompleto" (click)="concluir()">Concluir</button>
        <a class="btn btn-outline-primary ml-4" [routerLink]="['/evento']">Novo</a>
    </div>
</ng-container>